<?xml version="1.0"?>
<config>
    <modules>
        <Divante_VueStorefrontIndexer>
            <version>1.0.0</version>
        </Divante_VueStorefrontIndexer>
    </modules>
    <global>
        <helpers>
            <vsf_indexer>
                <class>Divante_VueStorefrontIndexer_Helper</class>
            </vsf_indexer>
        </helpers>
        <models>
            <vsf_indexer>
                <class>Divante_VueStorefrontIndexer_Model</class>
                <resourceModel>vsf_indexer_resource</resourceModel>
            </vsf_indexer>
            <vsf_indexer_resource>
                <class>Divante_VueStorefrontIndexer_Model_Resource</class>
                <entities>
                    <event>
                        <table>vuestorefront_index_event</table>
                    </event>
                </entities>
            </vsf_indexer_resource>
        </models>
        <resources>
            <vsf_indexer_setup>
                <setup>
                    <module>Divante_VueStorefrontIndexer</module>
                </setup>
            </vsf_indexer_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <vuestorefrontelasticsearch>
                <use>standard</use>
                <args>
                    <frontName>vuestorefrontelasticsearch</frontName>
                    <module>Divante_VueStorefrontIndexer</module>
                </args>
            </vuestorefrontelasticsearch>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <!--attribute changed-->
            <catalog_entity_attribute_save_after>
                <observers>
                    <vsf_indexer>
                        <class>vsf_indexer/observer_event_attribute_save</class>
                        <method>execute</method>
                    </vsf_indexer>
                </observers>
            </catalog_entity_attribute_save_after>
            <catalog_entity_attribute_delete_commit_after>
                <observers>
                    <vsf_indexer>
                        <class>vsf_indexer/observer_event_attribute_delete</class>
                        <method>execute</method>
                    </vsf_indexer>
                </observers>
            </catalog_entity_attribute_delete_commit_after>
            <!--product changed-->
            <catalog_controller_product_mass_status>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_mass_update</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_controller_product_mass_status>
            <catalog_product_attribute_update_after>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_mass_update</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_product_attribute_update_after>

            <catalog_product_to_website_change>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_mass_update</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_product_to_website_change>

            <catalog_product_stock_item_mass_change>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_mass_update</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_product_stock_item_mass_change>

            <catalog_product_save_after>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_save</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_before>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_delete</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_product_delete_before>
            <catalog_product_delete_after_done>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_product_delete</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_product_delete_after_done>
            <!--category changed-->
            <catalog_category_save_after>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_category_save</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_category_save_after>
            <catalog_category_delete_before>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_category_delete</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_category_delete_before>
            <catalog_category_delete_commit_after>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_category_delete</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </catalog_category_delete_commit_after>
            <core_abstract_save_after>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_cms_block_save</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </core_abstract_save_after>
            <core_abstract_save_delete>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_cms_block_delete</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </core_abstract_save_delete>
            <cms_page_prepare_save>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_cms_page_save</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </cms_page_prepare_save>
            <adminhtml_cmspage_on_delete>
                <observers>
                    <vsf_indexer_product>
                        <class>vsf_indexer/observer_event_cms_page_delete</class>
                        <method>execute</method>
                    </vsf_indexer_product>
                </observers>
            </adminhtml_cmspage_on_delete>
        </events>
    </adminhtml>
    <global>
        <vsf_indexer>
            <indices_config>
                <vue_storefront_catalog>
                    <types>
                        <taxrule>
                            <datasources>
                                <tax_classes>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Tax_Taxclasses</tax_classes>
                                <tax_rates>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Tax_Rates</tax_rates>
                                <transaction_key>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Transactionkey</transaction_key>
                            </datasources>
                        </taxrule>
                        <attribute>
                            <mapping>Divante_VueStorefrontIndexer_Model_Index_Mapping_Attribute</mapping>
                            <datasources>
                                <transaction_key>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Transactionkey</transaction_key>
                                <basic>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Attribute_Options</basic>
                            </datasources>
                        </attribute>
                        <category>
                            <mapping>Divante_VueStorefrontIndexer_Model_Index_Mapping_Category</mapping>
                            <datasources>
                                <attributes_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Category_Attributes</attributes_data>
                                <grid_per_page>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Category_Gridperpage</grid_per_page>
                                <transaction_key>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Transactionkey</transaction_key>
                            </datasources>
                        </category>
                        <product>
                            <mapping>Divante_VueStorefrontIndexer_Model_Index_Mapping_Product</mapping>
                            <datasources>
                                <attributes_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Attributes</attributes_data>
                                <transaction_key>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Transactionkey</transaction_key>
                                <inventory_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Inventory</inventory_data>
                                <configurable_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Configurable</configurable_data>
                                <bundle_options>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Bundle</bundle_options>
                                <links_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Links</links_data>
                                <category_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Categories</category_data>
                                <price_data>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Prices</price_data>
                                <media_gallery>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Product_Media</media_gallery>
                            </datasources>
                        </product>
                        <cms_block>
                            <mapping>Divante_VueStorefrontIndexer_Model_Index_Mapping_Cms_Block</mapping>
                            <datasources>
                                <transaction_key>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Transactionkey</transaction_key>
                            </datasources>
                        </cms_block>
                        <cms_page>
                            <mapping>Divante_VueStorefrontIndexer_Model_Index_Mapping_Cms_Page</mapping>
                            <datasources>
                                <transaction_key>Divante_VueStorefrontIndexer_Model_Indexer_Datasource_Transactionkey</transaction_key>
                            </datasources>
                        </cms_page>
                    </types>
                </vue_storefront_catalog>
            </indices_config>

            <indexer>
                <attributes>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Attributes</class>
                </attributes>
                <categories>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Categories</class>
                </categories>
                <products>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Products</class>
                </products>
                <cms_blocks>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Cms_Blocks</class>
                </cms_blocks>
                <cms_pages>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Cms_Pages</class>
                </cms_pages>
                <taxrules>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Taxrules</class>
                </taxrules>
                <!--indexers used for partial data update-->
                <product_categories><!--only update product categories-->
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Productcategories</class>
                </product_categories>
                <category_grid_per_page>
                    <class>Divante_VueStorefrontIndexer_Model_Indexer_Partialupdate_Category_Gridperpage</class>
                </category_grid_per_page>
            </indexer>
        </vsf_indexer>
    </global>
    <default>
        <vuestorefront>
            <es_client>
                <host>localhost</host>
                <port>9200</port>
            </es_client>
            <general_settings>
                <allowed_stores>1</allowed_stores>
                <category_products_update>0</category_products_update>
            </general_settings>
            <indices_settings>
                <batch_indexing_size>1000</batch_indexing_size>
                <index_name>vue_storefront_magento</index_name>
                <fields_limit>1000</fields_limit>
            </indices_settings>
            <redis_cache_settings>
                <clear_cache>0</clear_cache>
                <vsf_base_url>http://localhost:3000/</vsf_base_url>
                <invalidate_cache_key>aeSu7aip</invalidate_cache_key>
                <connection_timeout>10</connection_timeout>
            </redis_cache_settings>
            <catalog_settings>
                <use_magento_url_keys>0</use_magento_url_keys>
                <configurable_children_use_simple_price>0</configurable_children_use_simple_price>
            </catalog_settings>
        </vuestorefront>
    </default>
</config>
