<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <sections>
        <vuestorefront>
            <label>VueStorefront</label>
            <tab>advanced</tab>
            <frontend_type>text</frontend_type>
            <sort_order>99990</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general_settings>
                    <label>General Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <allowed_stores>
                            <label>List of stores to reindex</label>
                            <comment>For every store view separated index is created in Elastic</comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>adminhtml/system_config_source_store</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </allowed_stores>
                        <category_products_update>
                            <label>Full product update on position changed</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>If product position has changed in category full product update will be made to elastisearch</comment>
                        </category_products_update>
                    </fields>
                </general_settings>
                <es_client>
                    <label>Elasticsearch Client</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <host translate="label">
                            <label>Elasticsearch host</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </host>
                        <port translate="label">
                            <label>Elasticsearch port number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                        </port>
                        <enable_https_mode>
                            <label>Use HTTPS</label>
                            <comment>Select yes if you want to connect to your Elasticsearch server over HTTPS.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_https_mode>
                        <enable_http_auth>
                            <label>Enable basic HTTP authentication</label>
                            <comment>Enable this option when your Elasticsearch server use basic HTTP authentication.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enable_http_auth>
                        <auth_user>
                            <label>Basic HTTP authentication user</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable_http_auth>1</enable_http_auth>
                            </depends>
                        </auth_user>
                        <auth_pwd>
                            <label>Basic HTTP authentication password</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends>
                                <enable_http_auth>1</enable_http_auth>
                            </depends>
                        </auth_pwd>
                    </fields>
                </es_client>
                <indices_settings>
                    <label>Indices Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <batch_indexing_size>
                            <label>Batch Indexing Size</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry validate-digits</validate>
                        </batch_indexing_size>
                        <index_name>
                            <label>Index name prefix</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <validate>required-entry</validate>
                            <comment>defaut name: "vue_storefront_magento". For each store view, store id will be added to index name, e.g. "vue_storefront_magento_1"</comment>
                        </index_name>
                        <fields_limit>
                            <label>The maximum number of fields in an index</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>min value: 1000</comment>
                            <validate>required-entry validate-digits validate-digits-range digits-range-1000-</validate>
                        </fields_limit>
                    </fields>
                </indices_settings>
                <redis_cache_settings>
                    <label>Redis Cache Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <clear_cache>
                            <label>Clear cache</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </clear_cache>
                        <vsf_base_url>
                            <label>Vsf base Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>with "/" in the end</comment>
                        </vsf_base_url>
                        <invalidate_cache_key>
                            <label>Invalidate cache key</label>
                            <frontend_type>text</frontend_type>
                            <show_in_default>1</show_in_default>
                            <sort_order>200</sort_order>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>Please note that Key should be equal vue-storefront/config/local.json value of server.invalidateCacheKey</comment>
                        </invalidate_cache_key>
                        <connection_timeout>
                            <label>Connection timeout</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                            <comment>in seconds</comment>
                        </connection_timeout>
                    </fields>
                </redis_cache_settings>
                <catalog_settings>
                    <label>Catalog Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <allowed_product_types>
                            <label>Types of products to index</label>
                            <comment>by default all product types will be sent to elastic.
                                If you changed configuration after running full reindex it might be required to re-create index.
                                Simple type should always be selected, if not VSF will not work properly.
                            </comment>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>vsf_indexer/system_config_source_product_type</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowed_product_types>
                        <use_magento_url_keys>
                            <label>Use Short Catalog Urls</label>
                            <comment>Set base on your setting products.useShortCatalogUrls from vsf.
                                If you change this setting on vsf you have to reindex all product and categories for vsf.
                                NOTE: If you don't have unique values on url_key (for all products and categories) this options should be set to "No"
                            </comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_magento_url_keys>
                        <heading_configurable_products translate="label">
                            <label>Configurable products</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>199</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </heading_configurable_products>
                        <configurable_children_use_simple_price>
                            <label>Use price from simple products</label>
                            <comment>Select yes if you calculate price base on simple products. By default Magento 1 does not support this.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </configurable_children_use_simple_price>
                        <configurable_children_use_image_inheritance>
                            <label>Inherit product image</label>
                            <comment>If any image is missing on the simple product, this will make it inherit the corresponding image from the parent product.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>210</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </configurable_children_use_image_inheritance>
                    </fields>
                </catalog_settings>
            </groups>
        </vuestorefront>
        <catalog>
            <groups>
                <frontend>
                    <fields>
                        <grid_per_page>
                            <backend_model>vsf_indexer/system_config_backend_gridperpage</backend_model>
                        </grid_per_page>
                    </fields>
                </frontend>
            </groups>
        </catalog>
    </sections>
</config>
